
# config file
config.env

# cache files
__pycache__
.cache

# configs files
*.xml
*.iml
*.cfg
*.pth
*.typed
.idea/*
sync*

# venv files
venv

# vscode folder
.vscode

# git folder
.git
.gitconfig
.idea

# local temp folders
logs
downloads
venom/xcache
venom/plugins/temp
venom/plugins/test

# session files
*.session*

# incomplete plugins
venom/plugins/security/vars

# error files
unknown_errors.txt

# git push shell
push.sh