# Taken from USERGE-X

# ---------------「 REQUIRED 」--------------- #


# Get them from https://my.telegram.org/
API_ID=""
API_HASH=""


# Mongodb url from https://cloud.mongodb.com/
# guide: https://del.dog/mongodb_guide
DATABASE_URL=""


# [ Private Telegram Log Channel ID ]
# Note: Also add your Bot to LOG CHANNEL (for BOT or DUAL)
LOG_CHANNEL_ID=""




# ════════════「 VenomX MODES 」════════════ #

# Fill Vars for the mode you want [ USER ], [ BOT ] 
# or [ DUAL MODE ] (Both)


# 1. USER MODE
STRING_SESSION=""


# 2. BOT MODE
# Get this from https://t.me/botfather and enable Inline Mode
BOT_TOKEN=""
OWNER_ID=""
