aiofiles>=0.6.0
asyncurban
booru
dnspython>=2.0.0
futures>=3.0.5
gitpython>=3.1.11
google-api-python-client
googletrans
httplib2
motor
oauth2client
pastypy
Pillow
psutil>=5.7.3
PyDictionary
pymediainfo
pymongo
pyrogram==2.0.106
pyromod==1.5.0
pySmartDL
python-dotenv
pytz
requests
selenium
setuptools>=60.0.4
spotipy
telegraph
tgcrypto>=1.2.3
wget
yt_dlp>=2022.8.19
