aiofiles>=0.6.0
asyncurban>=0.3.3
booru
dnspython>=2.0.0
futures>=3.0.5
gitpython>=3.1.11
googletrans==3.1.0a0
# heroku3
motor>=2.3.0
pastypy
Pillow>=9.0.1
psutil>=5.7.3
pymediainfo>=5.1.0
pymongo
pyrogram==2.0.57
pyromod
python-dotenv>=0.15.0
pytz>=2020.4
requests>=2.25.0
selenium
setuptools>=60.0.4
spotipy
telegraph>=1.4.1
tgcrypto>=1.2.3
wget>=3.2
yt_dlp>=2022.8.19
